.score{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.game h1 {
  font-size: 9rem;
  margin: 2rem 50% 1rem 50%;
} 
.next{
} 
.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.check{
  gap: 10px;
  display: flex;
  justify-content: center;
  padding: 1rem;
}