:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
}
html{
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 320px;
  min-height: 100%;
}
button {
  border-radius: 18px;
  border: 1px solid transparent;
  padding: 0.6rem 1.1rem;
  font-size: 1.1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.2s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
a{
  color: inherit;
}


[data-theme="light"] {
  --bg: #fffae7;
  --fg: #213547;
  --bnh: #fff7d7;
  --bnb: #141414ad;
  --bnc: unset;
  --hbx: rgba(0, 0, 0, 0.1);
  --hbg: white;
}
[data-theme="dark"] {
  --bg: #252525;
  --fg: rgba(255, 255, 255, 0.87);
  --bnh: rgba(255, 255, 255, 0.058);
  --bnb: rgba(255, 255, 255, 0.12);
  --bnc: white;
  --hbx: rgba(255, 255, 255, 0.1);
  --hbg: #1a1a1a;
}
:root {
  color: var(--fg);
  background-color: var(--bg);
}
button {
  background-color: var(--hbg);
  color: var(--bnc);
  border: 1.5px solid var(--bnb);
}
button:hover {
  background-color: var(--bnh);
}
header {
  background-color: var(--hbg);
  box-shadow: 0 2px 15px var(--hbx);
}